<h2>Edit Book</h2>

<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <!-- inputs fields -->
  <%- include('_form_fields') %>

  <!-- cancel button -->
  <a href="/books">Cancel</a>
  <button type="submit">Update</button>
</form>