<!-- 
  break the Delete form out to this partial so we don't repeat code.
  this is part of the special method-override code.
  video #5 @8:00   https://www.youtube.com/watch?v=UIf1Lh9OZ-k
 -->

 <form method="POST" action="<%= url %>?_method=DELETE">
  <button class="btn btn-danger" type="submit">Delete</button>
</form>